<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">

    <title>Web丛林之旅-挑战的不仅仅是智商</title>

    <style type="text/css">
        body {padding:0px 20px;margin:0; font-size:14px; line-height:150%; background-color:#EEFBEC}
        .header {text-align:right}
    </style>

</head>
<body>

<div class="header">
    <a href="./" target="_top">游戏首页(Home)</a> &nbsp; <a href="./" target="_blank">作者dyz </a>
    <span style="display: none"> 原作者：fj543  原游戏网址：http://www.fj543.com/hack/ </span>
</div>
<h1 style="color: black">Web丛林之旅——挑战的不仅仅是智商</h1>
<hr>

<h2>现在是第1关(Level1)</h2>

<p>输入正确的密码既可过关(input password please)</p>

    <form action="./" method="post">
        <input type="password" name="password" id="password" >
        <input type="submit" value="login" onclick="return loginCheck()">
    </form>
<p>提示语：在浏览器端使用脚本验证是很容易被破解的。</p>

<hr style="color: black">

<script type="text/javascript">
    function loginCheck() {
        var  pass = document.getElementById("password").value;
        if (pass !== "{{.password}}"){
            alert("ERROR:密码错误！")
            return false;
        }
        return true;
    }
</script>

</body>
</html>