<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">

    <title>Web安全丛林之旅-挑战的不仅仅是智商</title>

    <style type="text/css">
        body {padding:0px 20px;margin:0; font-size:14px; line-height:150%; background-color:#EEFBEC}
        .header {text-align:right}
    </style>

</head>
<body>

<div class="header">
    <a href="/?method=restart" target="_top">重新开始(Restart)</a>

    <a href="./" target="_top">游戏首页(Home)</a>  &nbsp;

    <a href="./" target="_blank">作者dyz </a>

    <span style="display: none"> 本程序灵感来自 ：http://www.fj543.com/hack/ 目前该站已经无法访问 原作者：fj543 </span>
</div>
<h1 style="color: black">Web安全丛林之旅——挑战的不仅仅是智商</h1>
<hr>
    <h2>现在是第 {{ .level }} 关(Level {{ .level }})</h2>

    {{.LayoutContent}}

<hr style="color: black">
</body>
</html>