<div>

    <p>小试牛刀:  1 + 1 = 2 ，输入正确既可过关</p>

    <form action="./" method="post">
        <input type="text" name="password" id="password"  onblur="return loginCheck()" >
        <input type="submit" value="come on" onclick="return loginCheck()">
    </form>
    <p>提示语：突破一下浏览器端脚本验证。</p>

    <script type="text/javascript">
        function loginCheck() {
            var  pass = document.getElementById("password");
            pass.value  = ""
            return false;
        }
    </script>
</div>

