<div>

    <p>知彼知己，百战百胜 ，请开始你的表演... </p>

    <form action="./" method="post">
        <input type="text" name="password" id="password" >
        <input type="submit" value="login" onclick="return loginCheck()">
    </form>
    <p>提示语：我的端口是{{ .port }} ,你的端口你知道么？
        <span style="display: none;">   </span>
    </p>

    <script type="text/javascript">
        function loginCheck() {
            var  pass = document.getElementById("password").value;
            if (pass === "" ){
                alert("ERROR:密码不能为空！")
                return false;
            }
            return true;
        }
    </script>

</div>

